<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wang.memo3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Memo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddNoteActivity" />
        <activity android:name=".UpdateOrReadActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="关于我们" />
        <activity android:name=".SetActivity" />
        <activity android:name=".Font_sizeActivity" />
    </application>

</manifest>